/* En StatusBar.css */
.status-bar-background {
    z-index: 5 ;
    margin-left: 50px;
    max-width: 300px;
    width: 100%;
    background-color: #ddd; /* Color de fondo de la barra */
    border-radius: 4px;
    overflow: hidden;
    position: relative;; /* Para posicionar absolutamente la barra de relleno dentro */
  }
  
  .status-bar-fill {
    height: 30px; /* Altura de la barra de progreso */
    width: 0%; /* Inicialmente no está lleno, controlado por React */
    border-radius: 4px; /* Para los bordes redondeados */
    transition: width 0.2s ease-in-out; /* Para que los cambios de anchura sean suaves */
  }
  
  .logo{
    position: relative;
    left: 5.6%;
    z-index: 6;
  }