/* Header.css */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .pet-info {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .pet-name {
    margin-right: 20px;
    color: white; 
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
  }
  
  .status-bar-container {
    flex: 1;
    margin: 5px;
  }
  
  .help-button {
  background: blue;
  color: white;
  border-color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px white;
  }
  
  .icon {
    width: 32px; /* Ajusta el tamaño según sea necesario */
    height: 32px;
    margin-left: 10px;
  }
  
  @media (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .pet-info {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .status-bar-container {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .icon {
      margin-top: 10px;
    }
  
    h2 {
      margin-top: 10px;
    }
  }
  