.tituloNombre {
    font-family: "Brush Script MT", cursive;
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #a30041;
}

.card-custom {
    background: linear-gradient(to bottom, #f083b9, #f5c9e0);
    border-radius: 30px;
    border: 15px solid white;
}

.botonDegradadoNombre {
    background: linear-gradient(to bottom, #f083b9, #f5c9e0);
    border: none;
    border-color: white;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
    border: 5px solid white;

}

.botonDegradadoNombre:hover {
    background: linear-gradient(to bottom, #f083b9, #f5c9e0);
    border-radius: 20px;
    border: 5px solid white;
    font-size: 21.5px;
}